@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lato-Regular';
    src: url('/assets/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'Lato-Regular', sans-serif;
}

.background {
    background-image: url(https://lh7-us.googleusercontent.com/u/0/docs/AHkbwyJPsSwUHJHtom5y3tr5xv9l6lRtWWM91yEMfUSvww-XE0y2zoG2-ym0ckYnJ24t07w8Eun6Glw1UFi_fLA8R0z9vD6Iy9Kcq2TcL757aan9wYKUs8gResJYAGJ4FvRD7EPU1_xqENpthb48Mp6fr8-7ZxFPrDobYZuBRv48cMdOMHROGZ3Yzrv8ZjYgC2vQ-ZL7oJRcNZWWjHuvNiMuQPVE8aV4nKQL5C-xTGZYBp9__xGt-sR-b0vPOBMVJNiwzPLkQvLsalXMyz6GqsdzGcZFM5GrzSnqIk7Te6NmMLY-GfUMcXE8dOi9_sqgNKmbBZxSBaoVFO7Jg1qk6sTo5oq06iPTVvsaTpBOepgRcGZNs6LcfgQd38AaHJyoDQjEIcgsWo4aI_RMu_s683-aOuYn0VobRB0EM8bHcN8H1Y-FM5eH5Fybx7I0EvFG2pc-tll-dntOja07T23utPXPgloBy6FiMlM71IpHQLnft7Za3F4Fb9EVEKEPqyLsQ8Pi8dXZ7ejj88mlJ-_6lxF_6HgKMSOc3twuHDbewJgfmvJcCWzkGx5KexVTINYGBL13ljGxKF8NRG6Bbol0UxN39SFl6ZvhWJbKjA-KBCG6B__ayY0vGd4S535BKi0xk2aYnTecASyuoIGbrOu0d5QtVGg_4OKc89siOu79Ggclv3t_qKOhS6hG2dn1xDSdjmhq5mbDmJh8G8BpLkFo0J80fQmaaZ-osKKmCB2DHuxSZcdA3tQu9WPA5K_Miv8Y5yz8v24nhGHtkcmVv9yCqUl72xWLFSYcO185fqk9qJWdCrCBg0QwaNH5ysXOy_16j8vnLtQvuY4mfVAWzLkR-P4Cr012ob0nUHzj7XF3WBvjjw3FBWd0joigx7Tp_JHZS8vII_QEeYMgflGojQa8o45nfsm_E9mIZ6E);
}